@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;  
}