@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin:0px;
    font-family: "Poppins", sans-serif;  
    background-color: #22254b;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: #373b69;
}

.search{
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
}

.search:focus{
    outline: none;
    background-color: #22254b;
}

.search::placeholder{
    color: #7378c5;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: #373b69;
    box-shadow: 0 4px 5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.6s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}