@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin-bottom:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: "Montserrat", sans-serif;  
    background-color: #3494e4;
    color: white;
}

h1{
    margin: 10px 0 0;
}

h3{
    font-weight: 400;
    margin: 10px 0;
}

.cup{
    background-color: white;
    border: 4px solid #144fc6;
    color: #144fc6;
    border-radius: 0 0 40px 40px;
    height: 280px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cup.cup-small{
    width: 50px;
    height: 85px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cup.cup-small.full{
    background-color: #6ab3f8;
    color: white;
}

.cups{
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    align-items: center;
    justify-content: center;
}

.remained{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.remained span{
    font-size: 20px;
    font-weight: bold;
}

.remained small{
    font-size: 12px;
    margin: 0 0 5px;
}

.percentage{
    background-color: #6ab3f8;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 0;
    transition: 0.3s ease;
}

.text{
    text-align: center;
}