@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    font-family: "Muli", sans-serif; 
    background-color: #051a31;
}

h3{
    color: white;
    margin: 10px 0 20px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 36px;
}

.container{
    width: 500px;
}

textarea{
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

.tag{
    background-color: #f0932b;
    color: lavender;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight{
    background-color: #436bd8;
}