@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-family: "Roboto", sans-serif;  
    background-color: #efedd6;
}

h1{
    margin: 10px;
}

.box{
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(250%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-250%);
}

.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 45px;
}